<p id="notice"><%= notice %></p>

<h1 style="padding-left:550px">Carproducts</h1>
<br>
<br>

<table class="table table-border">
  <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Fueltype</th>
      <th>Price</th>
      <th>Carcategory</th>
      <th style="padding-left:150px">Car Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carproducts.each do |carproduct| %>
      <tr>
        <td><%= carproduct.name %></td>
        <td><%= carproduct.model %></td>
        <td><%= carproduct.fueltype %></td>
        <td><%= carproduct.price %></td>
        <td><%= carproduct.carcategory.name %></td>
        <td><%= image_tag carproduct.avatar.url{:medium} %></td>
        <% if can? :create, carproduct %>
        <td><%= link_to 'Show', carproduct %></td>
        <td><%= link_to 'Edit', edit_carproduct_path(carproduct) %></td>
        <td><%= link_to 'Destroy', carproduct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%end%>      
</tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, @carproduct %>
<%= link_to 'New Carproduct', new_carproduct_path %>
<%end%>
